<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:/META-INF/spring/infrastructure-context.xml" />

    <bean id="userRepository" class="nl.conspect.legacy.repository.impl.HibernateUserRepositoryImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="userService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces" value="nl.conspect.legacy.service.UserService" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="target">
            <bean class="nl.conspect.legacy.service.impl.UserServiceImpl">
                <property name="userRepository" ref="userRepository" />
            </bean>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>


</beans>